{% extends 'finder/base.html' %}
{% load static %}

{% block title %} - My lists {% endblock %}

{% block style %}
    <style>
        *{
            margin-right: 0;
        }
        .arrow {
            transition: all 0.3s;
        }
    </style>
{% endblock %}

{% block content %}

<!-- --------------------------------- Create list ------------------------------------- -->
    <div class="row mt-3">
        <div class="col-sm-1"></div>
        <div class="col-sm-10"><h3>Create a new list</h3></div>
        <div class="col-sm-1 pr-0"></div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <form method="post" action="#">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-success" name="createList" value="createList">Create</button>
            </form>
        </div>
        <div class="col-sm-1 pr-0"></div>
    </div>
<!-- ------------------------------- Existing lists ------------------------------------ -->
    <div class="row mt-3">
        <div class="col-sm-1"></div>
        <div class="col-sm-10"><h3>Your current lists</h3></div>
        <div class="col-sm-1 pr-0"></div>
    </div>
    <div id="accordion">
        {% for x in lists %}
            <div class="row mt-3">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="list_container">
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="card">
                                <div class="card-header text-dark" style="background-color: #aaa;">
                                    <div class="row justify-content-between">
                                        <div class="listname_container p-1" style="margin-top: auto; margin-bottom: auto; font-size: 1.1rem;">{{ x.name }}</div>
                                        <div class="icon_container text-right d-flex flex-row-reverse justify-content-end"  style="margin-top: auto; margin-bottom: auto;">
                                            <a class="card-link justify-content-end mr-2 ml-2" data-toggle="collapse" href="#collapse{{ forloop.counter }}">
                                                <i class="fas fa-chevron-right arrow text-dark"></i>
                                            </a>
                                            <div class="buttons-menu" style="display: none;">
                                                <button type="submit" name="deleteItems" value="delete_{{ x.id }}_items" class="btn btn-danger p-1" style="display: inline-block;">Delete selected items</button>
                                                <button type="submit" name="deleteList" value="delete_{{ x.id }}_list" class="btn btn-danger p-1" style="display: inline-block;">Delete List</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="collapse{{ forloop.counter }}" class="collapse">
                                    {% if  x.guitar_set.all|length  == 0 %}
                                        <div class="card-body">Empty list</div>
                                    {% else %}
                                    <div class="card-body">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">Brand</th>
                                                    <th scope="col">Model</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Title</th>
                                                    <th scope="col">Link</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for guitar in x.guitar_set.all %}
                                                    <tr>
                                                        <td><input type="checkbox" value="delete" name="d{{guitar.id}}"></td>
                                                        <td>{{ guitar.brand }}</td>
                                                        <td>{{ guitar.g_model }}</td>
                                                        <td>$ {{ guitar.price }}</td>
                                                        <td>{{ guitar.title }}</td>
                                                        <td><a href="{{ guitar.link }}">Click here</a></td>
                                                    </tr>
                                                    {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-1 pr-0"></div>
            </div>    
        {% endfor %}
    </div>
    <script src="{% static '/js/jsfile.js' %}"></script>
{% endblock %}